:root {
    --orange_gn: #f37021;
    --blue_gn: #00bbce;
    --dark-graw_gn: #414042;
    --light-graw_gn: #8B96AA;
    --white_gn: #ffffff;
    --blue_discord: #5865F2;
    --dark-blue_discord: #4d59d4;
    --light-graw_discord: #31364e;
    --dark-blue_bg: #1E2130;
}