body,
html {
    font-family: "Red Hat Display";
}

#header {
    width: 100%;
    transition: background ease-out 0.2s;
    background: linear-gradient(to bottom, #30354b, #120F23);
}

#header .navbar-collapse {
    width: auto;
}

.navbar {
    padding: 40px 0 40px 0;
}


#logo-header {
    margin-right: 10%;
}


#header .nav-link {
    font-size: larger;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid 2px transparent;
}

#header nav ul li a {
    color: var(--light-graw_gn);
}

#header nav ul li:first-child a {
    color: var(--orange_gn);
}

#header .nav-link:hover {
    border-bottom: solid 2px var(--orange_gn);
    color: #c5d1e9;
}

#introduction {
    padding-bottom: 80px;
}

.button-primary-discord {
    color: var(--white_gn);
    background-color: var(--blue_discord);
    border-color: var(--blue_discord);
}

.button-primary-discord:hover {
    background-color: var(--dark-blue_discord);
    border-color: var(--dark-blue_discord);
}

.button-primary-gn {
    color: var(--white_gn);
    background-color: var(--blue_gn);
    border-color: var(--blue_gn);
}

.button-primary-gn:hover {
    background-color: #10a2b3;
    border-color: #10a2b3;
}

.button-outline-gn {
    color: var(--light-graw_gn);
    border-color: var(--light-graw_gn);
}

.button-outline-gn:hover {
    color: var(--light-graw_gn);
    background-color: #232935;
    border-color: var(--light-graw_gn);
}

.card-primary {
    background-color: var(--light-graw_discord);
}

.card-outline {
    background-color: transparent;
    border: solid 2px var(--light-graw_discord);
}

#cta-video {
    background-color: #101116;
    color: var(--light-graw_gn);
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 5px;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    display: inline;
}

#cta-video img {
    width: 14px;
    margin-right: 2px;
}

#tutorial-discord {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

#video-discord {
    vertical-align: middle;
    width: 80%;
    height: 90px;
    border-radius: 8px;
    margin: 10px;
}

#widget-discord {
    width: 100%;
    min-height: 400px;
    margin-top: -40px;
}

#mission {
    padding-bottom: 80px;
    width: 100%;
    transition: background ease-out 0.2s;
    background-color: #29303e;
}

#mission-description h3,
p {
    margin-bottom: 20px;
}

#stats {
    padding-bottom: 80px;
    padding-top: 50px;
    width: 100%;
    transition: background ease-out 0.2s;
    background-color: #29303e;
}

#documentarion {
    padding-bottom: 80px;
    padding-top: 50px;
    width: 100%;
    transition: background ease-out 0.2s;
    background-color: #29303e;
}

#documentarion h4 {
    color: var(--blue_gn);
}

#doc-image {
    transition: background ease-out 0.2s;
    background-color: var(--blue_gn);
    border-top-left-radius: 50%;
}

.thumbnail-wrapper {
    display: inline-block;
    position: relative;
}

.thumbnail-wrapper button {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#doc-image img {
    width: 80%;
    margin: 40px;
}

#footer {
    width: 100%;
    transition: background ease-out 0.2s;
    background: linear-gradient(to bottom, #29303e, #120F23);
}

footer {
    padding: 40px 0 40px 0;
}

#copyright {
    color: var(--light-graw_gn);
}