#header {
    width: 100%;
    background: transparent linear-gradient(176deg, #29303E 0%, #120F23 100%) 0% 0% no-repeat padding-box;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    font-size: larger;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid 2px transparent;
}

#header nav ul li a {
    color: var(--light-graw_gn);
}

#header nav ul li:first-child a {
    color: var(--orange_gn);
}

#header .nav-link:hover {
    border-bottom: solid 2px var(--orange_gn);
    color: #c5d1e9;
}

.animation {
    pointer-events: none;
}

#lottie-comunidade {
    background-color: transparent;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

#introducao {
    padding: 20px 0 140px 0;
}

.button-primary-discord {
    color: var(--white_gn);
    background-color: var(--blue_discord);
    border-color: var(--blue_discord);
}

.button-primary-discord:hover {
    background-color: var(--dark-blue_discord);
    border-color: var(--dark-blue_discord);
}

.button-primary-gn {
    color: var(--white_gn);
    background-color: var(--blue_gn);
    border-color: var(--blue_gn);
}

.button-primary-gn:hover {
    background-color: #10a2b3;
    border-color: #10a2b3;
}

.button-outline-gn {
    color: var(--light-graw_gn);
    border-color: var(--light-graw_gn);
}

.button-outline-gn:hover {
    color: var(--light-graw_gn);
    background-color: #232935;
    border-color: var(--light-graw_gn);
}

.card-primary {
    background-color: var(--light-graw_discord);
}

.card-outline {
    background-color: transparent;
    border: solid 2px var(--light-graw_discord);
}

#cta-video {
    background-color: #0D0D1D;
    color: #8B96AB;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: medium;
    padding: 2px 5px;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    display: inline;
}

#cta-video img {
    width: 14px;
    margin-right: 2px;
}

#tutorial-discord {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

#video-discord {
    vertical-align: middle;
    width: 80%;
    height: 90px;
    border-radius: 8px;
    margin: 10px;
}

#widget-discord {
    width: 100%;
    min-height: 450px;
    margin-top: -40px;
}

#nossa-comunidade {
    padding-bottom: 80px;
    width: 100%;
    transition: background ease-out 0.2s;
    background: #29303E 0% 0% no-repeat padding-box;
}

#descricao-nossa-comunidade h3,
p {
    margin-bottom: 30px;
}

#stacks img,
#linguagens-programacao img {
    width: 55px;
    height: 55px;
}

#estatisticas {
    padding-bottom: 80px;
    padding-top: 50px;
    width: 100%;
    transition: background ease-out 0.2s;
    background-color: #29303e;
}

#membros,
#time-suporte {
    font-size: 52px;
    font-weight: bold;
    color: var(--orange_gn);
    letter-spacing: 0px;
}

#documentacao {
    padding-bottom: 80px;
    padding-top: 50px;
    width: 100%;
    transition: background ease-out 0.2s;
    background-color: #29303e;
}

#documentacao h1 {
    color: var(--blue_gn);
}

#doc-image {
    transition: background ease-out 0.2s;
    background-color: var(--blue_gn);
    border-top-left-radius: 300px;
}

#doc-image img {
    width: 80%;
    margin: 40px;
}

#img-wrapper {
    position: relative;
}

#lottie-devs {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.img-overlay {
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

#rodape {
    width: 100%;
    transition: background ease-out 0.2s;
    background: linear-gradient(to bottom, #29303e, #120F23);
}

#rodape ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#rodape ul li {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}

#rodape ul li:first-child {
    margin-left: 0;
}

#rodape ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all ease-out 0.2s;
}

#rodape ul li a img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    padding: 40px 0 80px 0;
}

#copyright {
    color: var(--light-graw_gn);
}