.button {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.9em 1.5em;
    border-radius: 10px;
}

.button .icon {
    width: 30px;
    margin-right: 5px;
}

.button-primary {
    background-color: var(--blue_discord);
    border-color: var(--blue_discord);
}

.button-primary:hover {
    background-color: var(--dark-blue_discord);
    border-color: var(--dark-blue_discord);
}