h1 {
    font-size: 8vh;
    font-weight: 900;
    color: var(--white_gn);
    line-height: 1;
}

h3 {
    color: var(--white_gn);
    font-weight: bold;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 3vh;
    color: var(--orange_gn);
}

p {
    font-size: 2vh;
    color: var(--light-graw_gn);
}

span {
    font-size: 4vh;
    color: var(--orange_gn);
    font-weight: bold;
}

.button {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.9em 1.5em;
    border-radius: 8px;
}

.button .icon {
    width: 30px;
    margin-right: 5px;
}

.button-primary {
    background-color: var(--blue_discord);
    border-color: var(--blue_discord);
}

.button-primary:hover {
    background-color: var(--dark-blue_discord);
    border-color: var(--dark-blue_discord);
}

.card {
    border-radius: 8px;
}

.card-body h3 {
    color: var(--white_gn);
    font-weight: bold;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}

.card-body h5 {
    color: var(--light-graw_gn);
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

.border-l {
    border-left: solid 1px #8b96aa2f;
}