/*
X-Small	                None	    <576px
Small	                sm	        ≥576px
Medium	                md	        ≥768px
Large	                lg	        ≥992px
Extra large	            xl	        ≥1200px
Extra extra large       xxl	        ≥1400px
*/


/*
 * X-Large devices (large desktops, >=1200px)
 */
@media (min-width: 1200px) {

    .bloco {
        padding-bottom: 100px;
    }

    /*
     * HEADER 
     */
    .navbar {
        padding: 65px 0 65px 0;
    }

    #logo-header {
        margin-right: 120px;
    }

    /* /HEADER */


    /*
     * INTRODUÇÃO 
     */
    #lottie-comunidade {
        background-color: transparent;
        width: 110%;
        height: 110%;
        margin-top: -15%;
        margin-left: -11%;
    }

    /* /INTRODUÇÃO */


    /*
     * NOSSA-COMUNIDADE 
     */

    /* /NOSSA-COMUNIDADE */


    /*
     * ESTATÍSTICAS
     */

    /* /ESTATÍSTICAS */


    /*
     * DOCUMENTAÇÃO
     */
    #documentacao :first-child a {
        margin-right: 10px;
    }

    #doc-image {
        border-top-left-radius: 300px;
        min-height: 700px;
    }

    #doc-image img {
        position: relative;
        top: 12%;
        text-align: center;
    }


    /* /DOCUMENTAÇÃO */



    /*
     * DEVS
     */

    /* /DEVS */



    /*
     * RODAPÉ
     */

    /* /RODAPÉ */


}


@media (max-width: 1399px) {
    #documentacao :first-child a {
        margin-top: 10px;
    }
}